@model AzureWebUIapp.Models.ManageApplicationExtensionsAssignment

@{
    ViewBag.Title = "Assign Application Extension Attribute To user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@using (Html.BeginForm("AssignExtAttribToUser", "Users"))
{

    if (Model != null && !Model.isOk)
    {
        <span><b>The action threw an error: @Model.message</b></span>
        <hr />
    }
    <h1>Assign application extension property to a user</h1>
    <span>Select an application from application-name dropdown to list its extension attributes in second dropdown</span>
    <hr />
    <div class="row" style="padding-top:20px">
        <div class="col-md-12 form-group">
            <div class="col-sm-3">
                @Html.LabelFor(a => a.AppName)
            </div>
            <div class="col-md-9">
                @*@Html.TextBoxFor(a => a.AppName, new { Class = "form-control" })*@
                @Html.DropDownListFor(a => a.AppName, Model.TenantApplications, new { Class = "form-control", onchange = "return LoadApplicationExts();" })
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="col-sm-3">
                @Html.LabelFor(a => a.AppExtAttribName)
            </div>
            <div class="col-sm-5">
                @*@Html.TextBoxFor(a => a.AppRoleName, new { Class = "form-control" })*@
                @Html.DropDownListFor(a => a.AppExtAttribName, Model.AppExtAttributes, new { Class = "form-control" })
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="col-sm-3">
                @Html.LabelFor(a => a.UserEmailAddress)
            </div>
            <div class="col-sm-5">
                @Html.TextBoxFor(a => a.UserEmailAddress, new { Class = "form-control" })

            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="col-sm-3">
                @Html.LabelFor(a => a.ExtAttribValue)
            </div>
            <div class="col-sm-5">
                @Html.TextBoxFor(a => a.ExtAttribValue, new { Class = "form-control" })

            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-5">
                <input type="submit" name="addappextattrib" value="Set App Ext Attrrib To User" class="btn btn-primary" style="align-content:center" />
            </div>
        </div>
    </div>
}
<script type="text/javascript">


    function LoadApplicationExts() {
        var app = $("#AppName").val(); //alert(app);

        if (app == null || app == '' || app == '-1')
            return false;

        $("#AppExtAttribName").html('');
        $("#AppExtAttribName").attr("disabled", "disabled");

        // alert(getBHISAbsoluteUrl('~/users/GetAppRoles?appname=' + app));

        //load organizations
        $.ajax({
            url: getBHISAbsoluteUrl('~/users/GetApplicationExtAttribs?appname=' + app),
            type: 'GET',
            datatype: "html",
            cache: false,
            success: function (jsondata) {

                if (jsondata != null) {

                    for (var i = 0; i < jsondata.length; i++) {
                        var newOption = "<option value='" + jsondata[i].Id + "'>" + jsondata[i].Display
                            + "</option>";
                        $("#AppExtAttribName").append(newOption);
                    }
                }

                $("#AppExtAttribName").removeAttr("disabled");
            },
            error: function (e) {
                alert('An error occured:' + e);
                $("#AppExtAttribName").removeAttr("disabled");
            }
        });

        return false;
    }

</script>

